:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
}

body {
  min-width: 1200px;

  font-family: var(--main-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;

  background-color: var(--main-background-color);
}

/* Компоненты */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Шапка сайта */

.main-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.navigation,
.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-duration) var(--main-timing-function);
}

.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-link {
  display: flex;
  align-items: center;

  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-duration) var(--main-timing-function);
}

.contacts-link-icon {
  display: block;
  margin-right: 10px;

  fill: var(--paragraph-text-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.logo-accent,
.current,
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link:hover .contacts-link-icon,
.contacts-link:focus .contacts-link-icon {
  fill: var(--accent-color);
}

/* Секция герой */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      hsla(235, 10%, 21%, 0.4),
      hsla(235, 10%, 21%, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
}

.heading {
  padding-left: 280px;
  padding-right: 280px;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-duration) var(--main-timing-function);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Секция особенностей */
.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; */

.features-item-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

.features-heading {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-paragraph {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* Секция "Чем мы занимаемся" */
.doing {
  padding-top: 47px;
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
}

.doing-item {
  position: relative;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}
.doing-description {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-align: center;
}

.doing-description-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: hsla(235, 10%, 21%, 0.8);
}

/* Секция "Наша команда" */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-item {
  margin: 15px;

  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.section-subheading {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  margin-bottom: 16px;

  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-item {
  flex-basis: calc((100% - 30px) / 4);
  height: 44px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--main-background-color);

  transition: background-color var(--main-duration) var(--main-timing-function);
}

.team-social-item-link:hover,
.team-social-item-link:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  display: inline-block;

  fill: var(--icon-color);

  transition: fill var(--main-duration) var(--main-timing-function);
}

.team-social-item-link:hover .team-social-icon,
.team-social-item-link:focus .team-social-icon {
  fill: var(--secondary-text-color);
}

/* Секция "Постоянные клиенты" */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-background-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border var(--main-duration) var(--main-timing-function);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-item-icon {
  fill: var(--icon-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.clients-item-link:hover .clients-item-icon,
.clients-item-link:focus .clients-item-icon {
  fill: var(--accent-color);
}

/* Футер сайта */

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.contacts-container {
  margin-right: 70px;
}

.footer-subheading {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.social-icon {
  display: inline-block;
  fill: var(--secondary-text-color);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: var(--accent-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-link {
  color: var(--secondary-text-color);
  transition: color var(--main-duration) var(--main-timing-function);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--main-duration) var(--main-timing-function);
}
.footer-logo-accent,
.address-link:focus,
.address-link:hover,
.footer-contacts-link:focus,
.footer-contacts-link:hover {
  color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
  color: var(--secondary-text-color);
}

.footer-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  cursor: var(--accent-color);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-button {
  position: relative;
  background-color: var(--accent-color);
  min-width: 200px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color var(--main-duration) var(--main-timing-function);
  cursor: pointer;
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: #188ce8;
}

.footer-submit-button-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--main-duration) var(--main-timing-function),
    visibility var(--main-duration) var(--main-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;

  padding: 40px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 5px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  cursor: pointer;
}
.close-modal-icon {
  display: block;
  transition: fill var(--main-duration) var(--main-timing-function);
}

.close-modal:hover .close-modal-icon,
.close-modal:focus .close-modal-icon {
  fill: var(--accent-color);
}

.modal-form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form-label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal-form-label:first-child {
  margin-top: 12px;
}

.modal-form-span {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  cursor: pointer;
  transition: fill var(--main-duration) var(--main-timing-function);
  fill: var(--main-text-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border var(--main-duration) var(--main-timing-function);
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--main-duration) var(--main-timing-function);
  resize: none;
}

.modal-form-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--paragraph-text-color);
}

.checkbox-hidden-icon {
  position: absolute;
}

.checkbox-icon {
  margin-right: 8px;
  fill: transparent;
  stroke: var(--main-text-color);
  stroke-width: 1.7px;
  cursor: pointer;
}

.checkbox-hidden-icon:checked + .checkbox-icon {
  fill: var(--accent-color);
  stroke: transparent;
  stroke-width: 0px;
}

.agreement {
  color: var(--accent-color);
}

.modal-submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;

  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}

/* Страница портфолио */

/* Секция портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  min-width: 73px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color var(--main-duration) var(--main-timing-function),
    color var(--main-duration) var(--main-timing-function),
    box-shadow var(--main-duration) var(--main-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-text-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin: 15px;
}

.portfolio-item-link {
  display: block;

  transition: box-shadow var(--main-duration) var(--main-timing-function);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-wrapper {
  position: relative;

  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--main-duration) var(--main-timing-function);
}

.portfolio-item-link:hover .portfolio-item-overlay,
.portfolio-item-link:focus .portfolio-item-overlay {
  transform: translateY(0%);
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-heading {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}
